@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centre {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.centre-gift {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 50px;
}
header {
  width: 100vw;
  height: 44px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: fixed;
  z-index: 10;
  nav {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.apple-logo {
  width: 13px;
  height: 16px;
}
.search-button {
  width: 31px;
  height: 44px;
}
.menu-button {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .search-button {
    margin-left: auto;
  }
  .donate {
    height: 52px;
  }
}
.donate {
  width: 100vw;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 44px;
  text-align: center;
}
@media only screen and (max-width: 390px) {
  .donate {
    height: 73px;
  }
}
.background {
  width: 100vw;
  height: 692px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.pro16 {
  background-image: url(./images/Figure\ copy.png);
}
.normal16 {
  background-image: url(./images/Figure.png);
}
.gift {
  background-image: url(./images/giftdesk.png);
}

@media only screen and (max-width: 768px) {
  .background {
    height: 650px;
  }
  .pro16 {
    background-image: url(./images/table1.png);
  }
  .normal16 {
    background-image: url(./images/table2.png);
  }
  .gift {
    background-image: url(./images/table3.jpeg);
  }
}

@media only screen and (max-width: 390px) {
  .background {
    height: 500px;
  }
  .pro16 {
    background-image: url(./images/phone1.png);
  }
  .normal16 {
    background-image: url(./images/phone2.png);
  }
  .gift {
    background-image: url(./images/phone3.jpeg);
  }
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  font-family: "Inter", serif;
}
h3 {
  color: #1d1d1f;
  font-size: 52px;
  font-weight: 600;
  font-family: "Inter", serif;
}
h4 {
  color: black;
  font-size: 42px;
  font-weight: 600;
  font-family: "Inter", serif;
}
h5 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", serif;
}
.note-white {
  color: aliceblue;
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 400;
}
.note-black {
  color: #1d1d1f;
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 400;
}
.box {
  flex-direction: column;
  width: 405px;
  height: 172px;
  position: absolute;
  gap: 20px;
}

.buttons {
  width: 207px;
  height: 44px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.blue-button {
  width: 123px;
  color: aliceblue;
  background-color: #0071e3;
  border: #0071e3 solid 1px;
  border-radius: 999px;
  font-family: "Inter", serif;
  height: 44px;
}
.buy-button {
  width: 68px;
  color: #2997ff;
  border: #2997ff solid 1px;
  border-radius: 999px;
  background-color: transparent;
}
.white-button {
  width: 123px;
  background-color: #2997ff;
  border-radius: 999px;
  border: #2997ff solid 1px;
}
.white-buy-button {
  width: 68px;
  border: #2997ff solid 2px;
  border-radius: 999px;
  background-color: transparent;
}
.shop-button {
  width: 114px;
  border-radius: 999px;
  background-color: #0071e3;
  border: #0071e3 solid 1px;
  color: white;
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 390px) {
  h2 {
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
  }
  .note {
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", serif;
  }
  .box {
    width: 241px;
    height: 114px;
    gap: 16px;
  }
}
.watchlogo {
  width: 26px;
  height: 32px;
}
.ipad-logo {
  width: 430px;
  height: 33px;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 580px);
  gap: 10px;
}
.ipad {
  background-image: url(./images/griddesk/ipaddesk.png);
}
.airpod {
  background-image: url(./images/griddesk/airpoddesk.png);
}
.watch {
  background-image: url(./images/griddesk/watchdesk.png);
}
.macbook {
  background-image: url(./images/griddesk/macbookdesk.png);
}
.trade {
  background-image: url(./images/griddesk/tradedesk.png);
}
.card {
  background-image: url(./images/griddesk/carddesk.png);
}
.pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 50px;
}
.title-with-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.central {
  padding-top: 330px;
}

@media only screen and (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 490px);
    gap: 10px;
  }
  .ipad {
    background-image: url(./images/gridtable/bussinesstable4.png);
  }
  .airpod {
    background-image: url(./images/gridtable/airpodtable1.png);
  }
  .watch {
    background-image: url(./images/gridtable/watchtable2.png);
  }
  .macbook {
    background-image: url(./images/gridtable/macbooktable3.png);
  }
  .trade {
    background-image: url(./images/gridtable/tradetable6.png);
  }
  .card {
    background-image: url(./images/gridtable/dealstable5.png);
  }
  .pack {
    gap: 10px;
    text-align: center;
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 28px;
  }
  h4 {
    font-size: 28px;
  }
  .note-black {
    font-size: 18px;
  }
  .note-white {
    font-size: 18px;
  }
}

@media only screen and (max-width: 390px) {
  .products {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 500px);
  }
  .pack {
    height: 500px;
  }
  .ipad {
    background-image: url(./images/gridphone/bussinessphone4.png);
  }
  .airpod {
    background-image: url(./images/gridphone/airpodphone1.png);
  }
  .watch {
    background-image: url(./images/gridphone/watchphone2.png);
  }
  .macbook {
    background-image: url(./images/gridphone/macbookphone3.png);
  }
  .trade {
    background-image: url(./images/gridphone/tradephone6.png);
  }
  .card {
    background-image: url(./images/gridphone/dealsphone5.png);
  }
}
